<div class="animate__animated animate__bounce">

    <h2>Por Capital</h2>
    <hr>
    <div class="row">
        <div class="col">
            <app-pais-input (onEnter)="buscar($event)" (onDebounce)="sugerencias($event)" placeholder="Buscar capital">

            </app-pais-input>
        </div>
    </div>
</div>

<hr>
<div *ngIf="hayError" class="alert alert-danger">
    No se encontro nada con el termino ABC {{termino}}
</div>
<div *ngIf="capital.length >0" class="row">
    <div class="col">
        <app-pais-table [paises]="capital"></app-pais-table>


    </div>
</div>
